@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
}
/* align-items: stretch|center|flex-start|flex-end|baseline|initial|inherit; */
/* flex-direction: row|row-reverse|column|column-reverse|initial|inherit; */

body {
  margin: 0;
  padding: 0;
}

.header {
  flex: 30%;
  background-color: tomato;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid grey;
  font-family: 'Poppins', sans-serif;
}

.header .btnAdd {
  background: black;
  color: white;
  width: 70px;
  height: 87px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-family: 'Poppins', sans-serif;
}

.btnAdd::after, .btnAdd::before {
  content: "";
  position: absolute;
  opacity: 0.3;
  background: black;
  border-radius: inherit;
  width: inherit;
  height: inherit;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btnAdd:hover {
  transform: translate(-12px, -12px);
}

.btnAdd:hover::after {
  transform: translate(6px, 6px);
}

.btnAdd:hover::before {
  transform: translate(12px, 12px);
}

.todoList {
  flex: 70%;
  width: 100%;
  background-color: grey;
}